*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;

    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    background-color: #FAB4BC;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    height: 10%;
}

header{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
   
    list-style-type: none;
    padding: 0%;
    width: auto;
    margin-top: 3%;
    font-size: 12pt;
}

.navigation li{
    margin-top: 0;
    padding-top: 5px;
    padding-right: 50px;
    color: black;
}

.navigation li a{
    color: black;
}

.item5{
    background: #f46845;
    
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;

    margin-right: 20px;
    text-align: center;
    text-decoration: none;

}
.item5 a{
    text-decoration: none;
    color: black;
}

.logo{
    max-width: 100%;
    height: auto;
}

.imglogo{
    width: 12%;
    padding: 0.8em 1.2em;
}

.welcome { 
	width:1440px;
	height:1000px;
	position:absolute;
}

h1 { 
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:280px;
	top:290px;
	font-family:Magista;
	text-align:center;
	font-size:24pt;
}

.logo-welcome{
    width: 27%;
	position:absolute;
	left:180px;
	top:400px;
}

.bg_kanan { 
	background-color:#FDDADE;
	width:729px;
	height: 100%;
	position:absolute;
	left:711px;
}

.register-title{ 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:61px;
	position:absolute;
	left:943px;
	top:50px;
	font-family:Magista;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}

.register-line { 
	border:3px solid rgba(232.00000137090683, 127.00000002980232, 18.000000827014446, 1);

	width:244px;
	height:0px;
	position:absolute;
	left:954px;
	top:150px;
}

.fullname { 
	width:300px;
	height:120px;
	position:absolute;
	left:756px;
	top:205px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

.gender-form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 20px;
}

.fullname label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.fullname input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.phone-number { 
	width:300px;
	height:120px;
	position:absolute;
	left:1085px;
	top:205px;
}

.phone-number label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.phone-number input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.email { 
	width:627px;
	height:120px;
	position:absolute;
	left:758px;
	top:310px;
}

.email label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.email input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.datebirth { 
	width:300px;
	height:120px;
	position:absolute;
	left:758px;
	top:419px;
}

.datebirth label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.datebirth input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.gender { 
	width:300px;
	height:120px;
	position:absolute;
	left:1085px;
	top:419px;
}

.gender label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.home { 
	width:623px;
	height:120px;
	position:absolute;
	left:758px;
	top:530px;
}

.home label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.home input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.password { 
	width:300px;
	height:120px;
	position:absolute;
	left:758px;
	top:640px;
}

.password label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.password input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.confpassword { 
	width:293px;
	height:120px;
	position:absolute;
	left:1085px;
	top:640px;
}

.confpassword label{
    font-family: Poppins;
    font-size: 22px;
    margin-left:13px;
}

.confpassword input{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 3px;
}

.register { 
	width:281px;
	height:50px;
	position:absolute;
	left:965px;
	top:765px;
}

button[type=registext] {
    width: 80%;
    background-color: #E87F12;
    color: black;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}
  
button[type=registext]:hover {
    background-color: rgb(255, 157, 53);;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 936px;
    padding: 70px 0;
    height: 150px;
	background-color: #FDDADE;


}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 14px;
	color: #24262b;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
    font-family:Poppins;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #6BB3A8;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color:#24262b;
	display: block;
	transition: all 0.3s ease;
    font-family:Poppins;
}
.footer-col ul li a:hover{
    font-weight: bold;
	color: #6BB3A8;
	padding-left: 8px;
    font-family:Poppins;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.col{
    width: auto;
    height: auto;
    display: block;
}

.social{
    margin-left: -50px;
    margin-right: 100px;
}

.soc-col{
    margin-top: 30px;
}

.soc-col h4{
    font-size: 14px;
    font-family:Poppins;
}
.footer-news h5{
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
    font-weight: 100;
    position: relative;
    font-family:Poppins;
}

.button-addon1 {
    color: black;
}
  
i {
    color: black;
}
  
.form-control::placeholder {
    font-size: 12px;
    color: #aaa;
    font-family: Poppins;
}
  
.form-control.shadow-0:focus {
    box-shadow: none;
}

input{
    height: 25px;
    width: 90%;
}

button{
    margin: 8px 0;
    height: 40px;
    width: 60px;
    background-color: white;
    border: 1px white;
    border-radius: 0px 10px 10px 0px;

}

.input-group{
    display: flex;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;
}

.social_footer_ul { 
    display:table; 
    list-style-type:none;  
    margin-top: 50px; 
    margin-bottom: 0;
}

.social_footer_ul li { 
    padding-right:20px; 
    padding-top:10px; 
    float:left; 
}

.social_footer_ul li a { 
    color:#CCC; 
    border:2px solid #6BB3A8; 
    padding:8px;
    border-radius:30px;
}

.social_footer_ul li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}

